html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  min-height: 100vh;
}

ul li {
  list-style: none;
}

.ger_container {
  padding: 5px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
}
.ger {
  margin-right: 10px;
}

#app {
  padding: 10px;
  margin: 0 auto;
  max-width: 1200px;
}

/* movie list */
ul.movie_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
ul.movie_list li {
  padding: 5px;
}

/* movie detail */
.detail_inner {
  display: flex;
}
.detail_inner .left {
  margin-right: 30px;
}
.detail_inner .right {
  background-color: #fff;
  flex: 1;
  padding: 20px;
}
